services:
  - type: web
    name: assignment-helper-backend
    runtime: python
    repo: https://github.com/Emme-Rita/Assignment-Slave-AI-Agent
    branch: master
    rootDir: backend
    buildCommand: pip install -r requirements.txt
    startCommand: uvicorn app.main:app --host 0.0.0.0 --port $PORT
    envVars:
      - key: GEMINI_API_KEY
        sync: false
      - key: TAVILY_API_KEY
        sync: false
      - key: PYTHON_VERSION
        value: 3.11.0
